$background-item: rgb(61, 133, 195);
$letters-color: white;

@mixin style-button($backColor: grey) {
  background: $backColor;
  color: $letters-color;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 1px black solid;
  background: rgb(245, 245, 237);
  padding: 10px;

  @media(min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
  padding: 20px;
  border: 1px black solid;
  border-radius: 16px;
  background: $background-item;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  img {
    width: 300px;
    height: 300px;
  }

  p {
    font-size: 24px;
  }

  .item-buttons {

    button {
      font-size: 24px;
    }
  }

}

.item-buttons-add {
  @include style-button($backColor: greenyellow)
}

.item-buttons-remove {
  @include style-button($backColor: rgb(255, 47, 47))
}

@media() {
  .container {}

  .item {}
}